.catalogo {
    width: 98%;
    height: 500px;
    margin: 20px;
}

.categoria {
    color: #f3f3f3;
    margin-bottom: 10px;
    font-family: 'Catamaran', monospace;
    font-size: 2.3rem;
}
.filme {
    width: 350px;
    height: 370px;
    transition: 1s ease-in-out;
    border-radius: 5px;
    background-color: #111111;
    font-family: 'Catamaran', monospace;
}

.tituloNota {
    text-align: center;
    transition: 1s all ease-in-out;
}

.titulo {
    color: aliceblue;
    font-size: 2.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.nota {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: none;
  width: 100%;
}

.botao:hover {
    background-color: #353f4c;
    color: #f3f3f3;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.textoBotao {
    margin-right: 20px;
    font-family: 'Catamaran', monospace;
    font-size: 1.3rem;
}