.feature {
    background-image: url('../components/Images/poster-1.jpeg');
    display: flex;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 750px;
    background-size: cover;
}
.featureDesc {
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: #e2e2e2;
    margin-left: 1%;
    height: 30vh;
    max-width: 50%;
    font-family: 'Catamaran', sans-serif;
}

.featureTitle {
    color: #5dcead;
    font-size: 3rem;
}

.featureSinopse {
    color: aliceblue;
    font-size: 1.3rem;
}

.botao {
    background-color: #f3f3f3;
    color: #353f4c;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 1.5rem;
    transition: 0.5s all ease-in-out;
    margin: 15px 0;
}

.botao:hover {
    background-color: #353f4c;
    color: #f3f3f3;
    padding: 12px;
    cursor: pointer;
    scale: 1.1;
    transition: 0.5s all ease-in-out;
}